dollar.json
{
  "name": "dollar",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11
            },
            {
              "triggerAtHour": 15,
              "triggerAtMinute": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -208,
        -112
      ],
      "id": "4aa99eac-670c-4176-a5d6-bce621d094c5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.tgju.org",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        -112
      ],
      "id": "77bfb8d3-8270-437e-b40d-b7dbeeea98d5",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const html = $input.first().json.data;\n\nfunction extractPrice(rowName) {\n  const regex = new RegExp(\n    `<tr[^>]*data-market-row=\"${rowName}\"[\\\\s\\\\S]*?<td class=\"nf\">([^<]+)</td>`,\n    \"i\"\n  );\n\n  const match = html.match(regex);\n\n  if (!match) {\n    return null;\n  }\n\n  return match[1].trim();\n}\n\nconst gold18 = extractPrice(\"geram18\");\nconst sekee = extractPrice(\"sekee\");\nconst price_dollar_rl = extractPrice(\"price_dollar_rl\");\n\nreturn [\n  {\n    json: {\n      gold18,\n      sekee,\n      price_dollar_rl\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        -112
      ],
      "id": "9746c63d-5cbf-4013-a693-686ab03041ba",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=📊 گزارش قیمت طلا \n🥇طلای ۱۸ عیار: {{$json.gold18}}\n🪙 سکه امامی: {{ $json.sekee }}\n💲 دلار: {{ $json.price_dollar_rl }} \n🕘 زمان: {{$now}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        416,
        -112
      ],
      "id": "0080a16d-5861-49ee-90b4-a0a7fdd23c8c",
      "name": "Send a text message"
    },
    {
      "parameters": {
        "content": "Automated Telegram bot to track 18k Gold, Emami Coin, and USD prices from TGJU.",
        "height": 112,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -176,
        -256
      ],
      "id": "441635bc-22be-4115-9e9d-a4def21ada84",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "dbd556cb-99e3-4e53-9992-22989616771f"
}
